{%extends 'base.html'%}
{% load static %}

{%block id%}<html lang="en" id = "catalogo">{%endblock%}
{% block body %}<body class = "{{Usuarios.userTheme}}">{%endblock%}
{%block title%}Catálogo{%endblock%}
{%block TextoHeader%}Catálogo{%endblock%}
{%block conteudo%}
<div id="myBtnContainer">
  <button class="btn active" onclick="filterSelection('all')"> Mostrar todos</button>
  <button class="btn" onclick="filterSelection('Pintura')"> Pintura</button>
  <button class="btn" onclick="filterSelection('Arte Digital')"> Arte digital</button>
  <button class="btn" onclick="filterSelection('Fotografia')"> Fotografia</button>
</div>

<form method="get" action="{% url 'busca' %}">
    <div class="form-group row">
        <div class="col-12">
          <input class="busca"
                 type="search" value="{{ request.GET.termo }}"
                 id="search-input"
                 placeholder="Digite o nome do curso Ex: Pintura Realista"
                 name="termo">
        </div>
    </div>
</form>

{% if Cursos %}
<div class = 'cursos'>
    {% for curso in Cursos %}
            {% if curso.foto %}
                <a href="{% url 'ComprarCurso' curso.id %}" class = "hrefCurso {{curso.categoriaID}}">
                    <div class = "filterDiv {{curso.categoriaID}}" style="background-image: url({{curso.foto.url}});
                                                                            background-repeat: no-repeat;
                                                                            background-size: cover;
                                                                            background-position: center; display: block">
                        <div class = "curso-zindex">
                            <p class = "curso-info">Nome:</p>
                            <p class = "curso-info">{{curso.nome}}</p>
                        </div>
                    </div>
                </a>
            {% else %}
                <a href="{% url 'ComprarCurso' curso.id %}" class = "hrefCurso {{curso.categoriaID}}">
                    <div class = "filterDiv {{curso.categoriaID}}" style="background-image: url(https://st3.depositphotos.com/23594922/31822/v/600/depositphotos_318221368-stock-illustration-missing-picture-page-for-website.jpg);
                                                                          background-repeat: no-repeat;
                                                                          background-size: cover;
                                                                          background-position: center; display: block">
                        <div class = "curso-zindex">
                            <p class = "curso-info">Nome:</p>
                            <p class = "curso-info">{{curso.nome}}</p>
                        </div>
                    </div>
                </a>
            {% endif %}
    {% endfor %}
</div>
<div class="pagination">
    <a>&laquo;</a>
    {% for pagina in Cursos.paginator.page_range %}
        {%if Cursos.number == pagina%}
            <a class = "active" href = "?p={{pagina}}">{{pagina}}</a>
        {%else%}
            <a href = "?p={{pagina}}">{{pagina}}</a>
        {%endif%}
        {%endfor%}
    <a>&raquo;</a>
</div>
{% else %}
<div style="text-align: center;">
    <img src = "https://cdn-icons-png.flaticon.com/512/3721/3721746.png" width="10%" style="margin-top: 10rem; filter: opacity(25%);">
    <h4 style="color: #949494;">Nenhum curso com este nome</h4>
</div>
{% endif %}


<script src = "{% static 'Js/Catalogo.js' %}"></script>
{%endblock%}
