{% extends 'base.html' %}
{% load static %}
{%block id%}<html lang="en" id = "CC">{%endblock%}
{%block TextoHeader%}Catalogo{%endblock%}
{%block title%}Comprar Curso{%endblock%}
{%block conteudo%}
    <section class="maingrid">
        <div>
            {% if Cursos.foto %}
                {% if messages %}
                    <div class="alert">
                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                            {% for message in messages %}
                                {% if messages.message == 'Curso já adquirido!' %}
                                    <strong>ERRO!</strong> {{messages}} {{messages.tags}}
                                {% else %}
                                    <strong>SUCESSO!</strong> {{message}} {{messages.tags}}
                                {%endif%}
                            {% endfor %}
                    </div>
                {% endif %}
                <div class="imagem-curso" style="background-image: url({{Cursos.foto.url}}); background-size: cover; background-repeat: no-repeat;background-position:center;">
            {%else%}
                <div class="imagem-curso" style="background-image: url(https://st3.depositphotos.com/23594922/31822/v/600/depositphotos_318221368-stock-illustration-missing-picture-page-for-website.jpg); background-size: cover; background-repeat: no-repeat;background-position:center;">
            {% endif %}
            </div>
            <div class= "barra">
                <form method = "POST">
                    {% csrf_token %}
                    <input class = "btn" type = "submit" value="Adquirir curso">
                </form>
                <div class="fonte-info">
                    <h2 class = "fonte">Fonte: </h2>
                    <a href="{{Cursos.linkFonte}}" target="_blank" class = "fonte-redirect">{{Cursos.fonte}}</a>
                </div>
            </div>
        </div>

        <div class="InfoConteudo">
            <div class="Info1">
                <h2 class = "Info-Title">Nome do Curso</h2>
                <p class = "Info-Text">
                   {{Cursos.nome}}
                </p>
            </div>
            <div class="Info2">
                <h2 class = "Info-Title">Descrição</h2>
                <p class = "Info-Text">
                    {{Cursos.descricao}}
                </p>
            </div>
            <div class="Info3">
                <h2 class = "Info-Title">Mais Informações</h2>
                <p class = "Info-Text">
                    Total de Horas: {{Cursos.horas|date:'h:i'}}<br>
                    Preço: R$: 00,00<br>
                    Quantidade Aulas: {{Cursos.aulas}}<br>
                </p>
            </div>
        </div>
    </section>
{% endblock %}