{%extends 'base.html'%}
{% load static %}

{%block id%}<html lang="en" id = "informacao">{%endblock%}
{%block title%}Info{%endblock%}
{%block TextoHeader%}Informações{%endblock%}
{%block conteudo%}
<h1>Sobre nos:</h1>
<div class="info">
    <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id luctus dolor. Cras vehicula
        gravida velit, sit amet porttitor augue. Integer rhoncus in velit sit amet vehicula. Curabitur
        porttitor lacinia urna, in porta lectus mollis in. Proin eu viverra turpis, a luctus lorem. Fusce et
        tempus justo, quis fringilla leo. Nam elementum in ipsum et tempus. Curabitur ut lorem viverra,
        mattis est eu, placerat nisi. Quisque a nunc sit amet tellus auctor volutpat. Curabitur dictum ex ut
        justo luctus lacinia. Ut dui elit, malesuada lobortis viverra ut, viverra a dolor. Mauris
        sollicitudin libero et iaculis fermentum. Cras ullamcorper congue quam sed commodo.
    </div>
    <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id luctus dolor. Cras vehicula
        gravida velit, sit amet porttitor augue. Integer rhoncus in velit sit amet vehicula. Curabitur
        porttitor lacinia urna, in porta lectus mollis in. Proin eu viverra turpis, a luctus lorem. Fusce et
        tempus justo, quis fringilla leo. Nam elementum in ipsum et tempus. Curabitur ut lorem viverra,
        mattis est eu, placerat nisi. Quisque a nunc sit amet tellus auctor volutpat. Curabitur dictum ex ut
        justo luctus lacinia. Ut dui elit, malesuada lobortis viverra ut, viverra a dolor. Mauris
        sollicitudin libero et iaculis fermentum. Cras ullamcorper congue quam sed commodo.
    </div>
</div>
<h1>Propósito:</h1>
<div class="info">
    <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id luctus dolor. Cras vehicula
        gravida velit, sit amet porttitor augue. Integer rhoncus in velit sit amet vehicula. Curabitur
        porttitor lacinia urna, in porta lectus mollis in. Proin eu viverra turpis, a luctus lorem. Fusce et
        tempus justo, quis fringilla leo. Nam elementum in ipsum et tempus. Curabitur ut lorem viverra,
        mattis est eu, placerat nisi. Quisque a nunc sit amet tellus auctor volutpat. Curabitur dictum ex ut
        justo luctus lacinia. Ut dui elit, malesuada lobortis viverra ut, viverra a dolor. Mauris
        sollicitudin libero et iaculis fermentum. Cras ullamcorper congue quam sed commodo.
    </div>
    <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id luctus dolor. Cras vehicula
        gravida velit, sit amet porttitor augue. Integer rhoncus in velit sit amet vehicula. Curabitur
        porttitor lacinia urna, in porta lectus mollis in. Proin eu viverra turpis, a luctus lorem. Fusce et
        tempus justo, quis fringilla leo. Nam elementum in ipsum et tempus. Curabitur ut lorem viverra,
        mattis est eu, placerat nisi. Quisque a nunc sit amet tellus auctor volutpat. Curabitur dictum ex ut
        justo luctus lacinia. Ut dui elit, malesuada lobortis viverra ut, viverra a dolor. Mauris
        sollicitudin libero et iaculis fermentum. Cras ullamcorper congue quam sed commodo.
    </div>
</div>
<h1>Equipe:</h1>
<div class = "equipe">
    <div>
        <img src = "https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__340.png">
        <div class = "matheus">
            Matheus Garcia de Oliveira
        </div>
        <br>
        <a href = "mailto:garciamatheus27@gmail.com" class="staff-media"><i class="fa-solid fa-envelope" title="Gmail" id = "logo"></i>garciamatheus27@gmail.com</a>
        <a href = "https://twitter.com/eusougarcia" class = "staff-media" target = "_blank"><i class="fa-brands fa-twitter" title="Twitter" id = "logo"></i>"Garcia"</a>
    </div>
    <div>
        <img src = "{%static 'imagens/guilhermeAlves2.png'%}">
        <div class = "guilherme">
            Guilherme Alves
        </div>
        <br>
        <a href = "mailto:guilherme@gmail.com" class="staff-media"><i class="fa-solid fa-envelope" title="Gmail" id = "logo"></i>guilherme@gmail.com</a>
        <a href = "https://www.instagram.com/gui_lhermeasantos/" target="_blank" class = "staff-media"><i class="fa-brands fa-instagram" title="Instagram" id = "logo"></i>Guilherme Alves</a>
    </div>
    <div>
        <img src = "https://pbs.twimg.com/profile_images/1475544663524261889/Vu17Qy8J_400x400.jpg">
        <div class = "leonardo">
            Leonardo Braga
        </div>
        <br>
        <a href = "mailto:leonardo@gmail.com" class="staff-media"><i class="fa-solid fa-envelope" title="Gmail" id = "logo"></i>leonardo@gmail.com</a>
        <a href = "https://twitter.com/WinBraga" class = "staff-media" target = "_blank"><i class="fa-brands fa-twitter" title="Twitter" id = "logo"></i>WinBraga</a>
    </div>
</div>
{%endblock%}