{% load static %}
<!DOCTYPE html>
<html lang="pt_BR" style="scroll-behavior: smooth;">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LMG'arts</title>
    <link href="{% static 'Paginas/landingPage.css' %}" rel="stylesheet">
    <link rel="shortcut icon" sizes="32x32" href="{% static 'imagens/favicon (2).ico' %}" type="image/x-icon">
    <link rel="icon" sizes="32x32" href="{% static 'imagens/favicon (2).ico' %}" type="image/x-icon">
    <script src="https://kit.fontawesome.com/ba25beb2a7.js"></script>
    <!-- <style>
        @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');
    </style> -->

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=Quicksand:wght@500&display=swap');
    </style>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=Oswald:wght@600&family=Quicksand:wght@500&display=swap');
    </style>
</head>
<body>
    <header>
        <div class="quadrado">
            <div class="icone">
                <img src="{% static 'imagens/mini-logo.jpeg' %}">
            </div>
        </div>
        <div class="quadrado" id = "quadrado">
            <div>
                <a href="{% url 'Cadastro' %}"><button>Cadastrar</button></a>
                <a href="{% url 'index' %}"><button>Login</button></a>
            </div>
        </div>
    </header>

    <a href = "#quadrado">
        <div class = "voltarBtn">
            <h1 style="color: black;" class="voltarBtnText"><i class="fa-solid fa-angles-up"></i></h1>
        </div>
    </a>
    <div class="ImgVertice">
        <img src="{% static 'imagens/Imagem vertice.png' %}">
        <img src="{% static 'imagens/Imagem vertice 2.png' %}">
    </div>

    <div class="bloco1">
        <div class="img1">
            <img src="{% static 'imagens/Lmg_arts-preview.png' %}">
        </div>
        <div class="TituloCentral">
           <h1><strong>BEM VINDO A LMG'arts</strong></h1>
        </div>
    </div>

    <div class="bloco2">
        <div class="text">
            <h2><strong>Aqui pode aprender arte do jeito mais pratico e rapido, então cadastre-se agora na <a class="lmg" href = "#quadrado" style="text-decoration: none;">LMG'arts</a></h2>
        </div>
        <div class="img2">
            <img src="{% static 'imagens/Design_sem_nome-removebg-preview.png' %}">
        </div>
    </div>

    <div class="bloco3">
        <div class="img3">
            <img src="{% static 'imagens/Design_sem_nome__1_-removebg-preview.png' %}">
        </div>
        <div class="info1">
            <h3><strong>Sobre nós</strong></h3>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque quasi eum ducimus laudantium ratione
                voluptate fugit eveniet temporibus, asperiores iusto recusandae perferendis impedit
                veritatis at laboriosam eligendi deleniti mollitia a Lorem ipsum dolor sit amet consectetur, adipisicing
                elit. Voluptatum minima neque totam vel distinctio sint, voluptas voluptatibus expedita maiores soluta!
                Placeat repellendus provident maiores sit laborum quod, molestias ad labore. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur nihil neque,
                dolorum modi architecto illo velit ullam maxime, dolor in pariatur, porro tempora quibusdam officiis quas veritatis repudiandae laudantium corporis!
            </p>
        </div>
    </div>

    <div class="bloco4">
        <div class="info2">
            <h3><strong>Cursos da plataforma</strong></h3>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque quasi eum ducimus laudantium ratione
                voluptate fugit eveniet temporibus, asperiores iusto recusandae perferendis impedit
                veritatis at laboriosam eligendi deleniti mollitia a Lorem ipsum dolor sit amet consectetur, adipisicing</p>
                <ul>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam voluptate neque minus, omnis earum impedit fuga obcaecati debitis sit provident quis perferendis beatae eius facilis nostrum necessitatibus reprehenderit magni vero.</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam voluptate neque minus, omnis earum impedit fuga obcaecati debitis sit provident quis perferendis beatae eius facilis nostrum necessitatibus reprehenderit magni vero.</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam voluptate neque minus, omnis earum impedit fuga obcaecati debitis sit provident quis perferendis beatae eius facilis nostrum necessitatibus reprehenderit magni vero.</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam voluptate neque minus, omnis earum impedit fuga obcaecati debitis sit provident quis perferendis beatae eius facilis nostrum necessitatibus reprehenderit magni vero.</li>
                </ul>
        </div>
        <div class="img4">
            <img src="{% static 'imagens/Imagem 4.gif' %}">
        </div>
    </div>

    <div class="ImgVertice2">
        <img src="{% static 'imagens/Imagem vertice roda.png'%}">
        <img src="{% static 'imagens/Imagem vertice roda 3].png'%}">
    </div>

    <footer>
        <div class="foot">
            <div class="rodapetxt">
                <h3>Para mais informações entre em contato</h3>
            </div>

            <div class="barrinha"></div>

            <div class="rodapeicon">
                <a href = "#"><img src="{% static 'imagens/icone rodapé.png' %}"></a>
                <a href = "mailto:garciamatheus27@gmail.com"><img src="{% static 'imagens/icone rodapé 2.png' %}"></a>
            </div>
        </div>
    </footer>
</body>
</html>