{%extends 'base.html'%}
{% load static %}

{%block id%}<html lang="en">{%endblock%}
{%block title%}Meu Aprendizado{%endblock%}
{%block TextoHeader%}Meu Aprendizado{%endblock%}
{%block conteudo%}
<h1>Favoritos:</h1>
    {% if favorite %}
        <div class="cursos">
        {% for fav in favorite %}
                {% if fav.curso.foto %}
                <a href = "{% url 'PlayerVideo' fav.curso.id %}">
                    <div class = "cursox" style="background-image: url({{fav.curso.foto.url}});
                                                                background-repeat: no-repeat;
                                                                background-size: cover;
                                                                background-position: center;
                                                                width: 23rem;
                                                                height: 22rem;">
                        <div class = "curso-zindex">
                            <p class = "curso-info">Nome:</p>
                            <p class = "curso-info">{{fav.curso}}</p>
                        </div>
                    </div>
                </a>
                {% else %}
                    <a href = "{% url 'PlayerVideo' fav.curso.id %}">
                        <div class = "cursox" style="
                                                    background-image: url(https://st3.depositphotos.com/23594922/31822/v/600/depositphotos_318221368-stock-illustration-missing-picture-page-for-website.jpg);
                                                    background-repeat: no-repeat;
                                                    background-size: cover;
                                                    background-position: center;">
                            <div class = "curso-zindex">
                                <p class = "curso-info">Nome:</p>
                                <p class = "curso-info">{{fav.nome}}</p>
                            </div>
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    {% else %}
    <div style="text-align: center; top: 10%;">
        <img class = "lupa-icon" src = "https://cdn-icons-png.flaticon.com/512/3721/3721746.png" id = "lupa-icon1" alt="foto">
        <h4 style="color: #949494;">Parece que você não possui nenhum curso favorito</h4>
    </div>
    {% endif %}

<h1>Meus Cursos:</h1>
{% if Cursos %}
    <div class = 'cursos'>
        {% for curso in Cursos %}
                <a href="{% url 'PlayerVideo' curso.id %}">
                   {% if curso.foto %}
                        <div class = "cursox" style="background-image: url({{curso.foto.url}});
                                                                                background-repeat: no-repeat;
                                                                                background-size: cover;
                                                                                background-position: center;">
                            <div class = "curso-zindex">
                                <form method="POST">
                                    {% csrf_token %}
                                    <button type="submit"
                                            style="
                                            background: transparent;
                                            border: transparent;
                                            cursor: pointer;"
                                            value="{{curso.id}}"
                                            name = "btnFav">

                                        <i class="fa-solid fa-star"></i>
                                    </button>
                                </form>
                                <p class = "curso-info-nome">Nome:</p>
                                <p class = "curso-info">{{curso.nome}}</p>
                            </div>
                        </div>
                   {% else %}
                        <div class = "cursox" style="
                                                    background-image: url(https://st3.depositphotos.com/23594922/31822/v/600/depositphotos_318221368-stock-illustration-missing-picture-page-for-website.jpg);
                                                    background-repeat: no-repeat;
                                                    background-size: cover;
                                                    background-position: center;">
                            <div class = "curso-zindex">
                                <p class="curso-info-nome">Nome</p>
                                <p class = "curso-info">{{curso.nome}}</p>
                            </div>
                        </div>
                   {% endif %}
                </a>
        {% endfor %}
    </div>
{% else %}
    <div style="text-align: center;">
        <img class = "lupa-icon" src = "https://cdn-icons-png.flaticon.com/512/3721/3721746.png">
        <h4 style="color: #949494;">Parece que você não possui nenhum curso</h4>
    </div>
{% endif %}
{%endblock%}