{%extends 'base.html'%}
{% load static %}

{%block id%}
    <html lang="en" id = "perfil">
{%endblock%}

{%block TextoHeader%}Perfil{%endblock%}
{%block title%}Perfil{%endblock%}
{%block conteudo%}
<div>
    <div class="user-profile-pic">
        <a href = "{% url 'redefPhoto' %}">
            {% if Usuarios.foto %}
                <img class="top" src="{{Usuarios.foto.url}}">
            {% else %}
                <img class="top" src="{%static 'imagens/no-userimage.jpg'%}">
            {%endif%}
        </a>
        <div class="user-username">
            <h2 style="margin-top: 1.5rem;">{{Usuarios.nome}}</h2>

            <a href = "{% url 'redefDesc' %}" style="text-decoration: none;">
                <i class="fa-solid fa-pen-to-square" id = "logo" title = "Editar Descrição"></i>
            </a>
        </div>
    </div>
    <div class = "account-description">
        <h2>Descrição:</h2>
        <div class="description">
            <div class="description-limitator">
                {% if Usuarios.descricao %}
                    <h3>{{Usuarios.descricao}}</h3>
                {% else %}
                    <h4>Usuário não possui descrição</h4>
                {% endif %}
            </div>
            <a href = "{% url 'redefDesc' %}" style="text-decoration: none;">
                <i class="fa-solid fa-pen-to-square" id = "logo" title = "Editar Descrição"></i>
            </a>
        </div>
    </div>
    <div class="user-information">
        <h2>Email: {{Usuarios.email}}</h2>

        <!--TODO: tentar ver se eu consigo arrumar o horario que está no fuso horario americano-->
        <h2>Data de criação: {{Usuarios.data_criacao|date:'d/m/y H:m'}}</h2>
    </div>
</div>
{%endblock%}
