{% extends 'base.html' %}
{% load static %}
{%block id%}<html lang="en" id = "playervideo">{%endblock%}
{%block title%}{{Cursos.nome}}{%endblock%}
{%block TextoHeader%}{{Cursos.nome}}{%endblock%}
{% block conteudo %}
    <section class="main">
        <div class="main-video">
            <div class="Video">
                <div class = "playBtn" onclick="loadVideo()">
                    <i class="fa-solid fa-play" id = "playIco"></i>
                </div>
                {% if Videos.video.url %}
                    <video controls class = "videoFrame" id = "myvideo"></video>
                {% else %}
                    <video controls autoplay></video>
                {% endif %}
            </div>
            <div class = "info">
                <h3 class = "info-text">Sobre:</h3>
                <div class = "Desc">
                    {% if Videos.descAula %}
                        {% for video in Videos %}
                            <span class="descricao-video" id = "{{video.video.url}}">{{video.descAula}}</span>
                        {% endfor %}
                    {% else %}
                        <span class="descricao-video" id = "{{video.video.url}}">Sem descrição</span>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="playlist">
            {% for video in Videos %}
            <a class = "videoBtn" id = "{{video.video.url}}">
                <div class="videos">
                    <input type = "checkbox" value="visto" class = "cb" id = "{{video.video.url}}">
                    <h2 class = "titulo">
                        {{video.nomeAula}}
                    </h2>
                </div>
            </a>
            {% endfor %}
        </div>
    </section>

<script src = "{% static 'Js/PlayerVideo.js' %}"></script>
{% endblock %}
