{% load static %}
<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redefinição de senha</title>
    <link rel="stylesheet" href="{% static 'Paginas/recuperacao.css' %}">
    <link rel="shortcut icon" sizes="32x32" href="{% static 'imagens/favicon (2).ico' %}" type="image/x-icon">
    <link rel="icon" sizes="32x32" href="{% static 'imagens/favicon (2).ico' %}" type="image/x-icon">
</head>
<body>
    <div class="center">
        <!--action, indica para onde deseja mandar o formulario-->
        <form method="POST">
            {% csrf_token %}
            <section>
                <h1>Ensira sua nova senha:</h1>
                <br>
                <span style="color: #7F8487; text-align: center; font-size: 15px; margin-left: 0.5rem;">
                     Senhas devem conter mais de 6 caracteres
                 </span>
                    <div class="SenhaNova">
                        <label for="Senha">Nova Senha:</label>
                        <input type="password" id="senha" name="senha" required  placeholder="Digite sua nova senha" class = "senha">
                        <img src = '{% static "imagens/olho-aberto.png" %}' class = 'btn'>
                    </div>
                    <div class="SenhaNova">
                        <label for="Senha2">Confirmar senha:</label>
                        <input type="password" id="senha2" name="senha2" required placeholder="Digite novamente" class = "senha2">
                        <img src = '{% static "imagens/olho-aberto.png" %}' class = 'btn2'>
                    </div>
                    {% if messages %}
                        <div class="alert">
                            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                            {% for message in messages %}
                                <strong>ERRO!</strong> {{message}} {{messages.tags}}
                            {% endfor %}
                        </div>
                        <br>
                    {% endif %}
                    <input type ="submit" value = "Enviar">
                    <div class="cadastro">
                        <a href="{% url 'index' %}" class="voltar">Voltar</a>
                    </div>
            </section>
        </form>
    </div>
</body>
<script>
    const senha = document.querySelector('.senha');
    const btn = document.querySelector('.btn');
    const btn2 = document.querySelector('.btn2');

    btn.onclick = () =>
    {
        if (senha.type === 'password')
        {
            senha.type = 'text'
            console.log('Active')
            btn.src = "{% static 'imagens/olho-fechado.png' %}"
        }
        else
        {
            btn.src = "{% static 'imagens/olho-aberto.png' %}"
            senha.type = 'password'
        }
    }

    btn2.onclick = () =>
    {
        if (senha2.type === 'password')
        {
            senha2.type = 'text'
            console.log('Active')
            btn2.src = "{% static 'imagens/olho-fechado.png' %}"
        }
        else
        {
            btn2.src = "{% static 'imagens/olho-aberto.png' %}"
            senha2.type = 'password'
        }
    }
</script>
</html>