<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Redefinição de descrição</title>
    <link rel="stylesheet" href="{% static 'Paginas/redefPhoto.css' %}">
    <link rel="shortcut icon" sizes="32x32" href="{% static 'imagens/favicon (2).ico' %}" type="image/x-icon">
    <link rel="icon" sizes="32x32" href="{% static 'imagens/favicon (2).ico' %}" type="image/x-icon">
</head>
<body>
    <main class = "main">
        <h3>Selecione a foto</h3>
        <form method = "POST" enctype="multipart/form-data" name="changePhoto">
            {% csrf_token %}
            <input type="file" name="asgnmnt_file" id="asgnmnt_file" class="span8"
                style="display:none;" onchange="fileSelected(this)">
            <img id="asgnmnt_file_img" src="https://st3.depositphotos.com/23594922/31822/v/600/depositphotos_318221368-stock-illustration-missing-picture-page-for-website.jpg"
            onclick="passFileUrl()" style="cursor:pointer; width: 50%; border-radius: 50%;">
            <br>
            <br>
            <br>
            <div style="display: flex; justify-content: space-evenly">
                <button class="submitImage" id = "redefPhoto-btn" type="submit">Enviar</button>
            </div>
        </form>
         <a href="{% url 'deletePhoto' %}">
            <button class = "deletePhoto" id = "redefPhoto-btn">Excluir foto</button>
        </a>
    </main>
</body>
<script>
 function passFileUrl(){
    document.getElementById('asgnmnt_file').click();
    }

    function fileSelected(inputData){
    document.getElementById('asgnmnt_file_img').src = window.URL.createObjectURL(inputData.files[0])
    }
</script>
</html>