{%extends 'base.html'%}
{% load static %}

{%block id%}<html lang="en">{%endblock%}
{%block TextoHeader%}Seja bem vindo(a), tenha um bom dia!{%endblock%}
{%block title%}Home{%endblock%}
{%block conteudo%}
<div>
    <div class="banner">
        <div class="banner-info">
            <h2 class="banner-text">100% OFF</h2>
            <h2 class="banner-text">todos os cursos!</h2>
            <a href="{% url 'Catalogo' %}" class="banner-btn">Comprar</a>
        </div>
    </div>
    <div class = 'course-list'>
            {% for curso in Cursos %}
                <a href="{% url 'ComprarCurso' curso.id %}">
                    <div class = "course" style="background-image: url({{curso.foto.url}});
                                                background-repeat: no-repeat;
                                                background-size: cover;
                                                background-position: center;">
                        <div class = "course-information" style="padding-bottom: 1.3rem; margin-bottom: 0">
                            <p class = "curso-info">Nome:</p>
                            <p class = "curso-info" style="margin-top: 10px;">{{curso.nome}}</p>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
</div>
{%endblock%}
