{%extends 'base.html'%}
{% load static %}

{%block id%}<html lang="en">{%endblock%}
{%block TextoHeader%}Seja bem vindo(a), tenha um bom dia!{%endblock%}
{%block title%}Home{%endblock%}
{%block conteudo%}
<div class="mainContent">
    <div class="banner animated tada">
             <div class=" big-text animated tada">100% OFF</div>
              <div>em todos os cursos!</div>
              <a href="{% url 'Catalogo' %}">Comprar</a>
            </div>
    <div class="info">
        <div>
            <h1 style="margin-top: 3rem;">Achamos que talvez você possa gostar</h1>
        </div>
        <div class = 'cursos'>
            {% for curso in Cursos %}
                <a href="{% url 'ComprarCurso' curso.id %}">
                    <div class = "cursox" style="background-image: url({{curso.foto.url}});
                                                background-repeat: no-repeat;
                                                background-size: cover;
                                                background-position: center;">
                        <div class = "curso-zindex" style="padding-bottom: 1.3rem; margin-bottom: 0">
                            <p class = "curso-info">Nome:</p>
                            <p class = "curso-info" style="margin-top: 10px;">{{curso.nome}}</p>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{%endblock%}
