<!DOCTYPE html>
{% load static %}
{% block id %}{% endblock %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{%endblock%}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap" rel="stylesheet">
    <link href = '{% static "Paginas/Css.css" %}' rel = "stylesheet">
    <script src="https://kit.fontawesome.com/ba25beb2a7.js"></script>

    <link rel="shortcut icon" sizes="32x32" href="{% static 'imagens/favicon (2).ico' %}" type="image/x-icon">
    <link rel="icon" sizes="32x32" href="{% static 'imagens/favicon (2).ico' %}" type="image/x-icon">
</head>

<body class = "{{Usuarios.userTheme}}">
<nav class="BN">
        <ul class="Nav-BN">
            <li class="logo">
                <a href = "{% url 'Site_Educacional' %}">
                    <img src= "{% static 'imagens/mini-logo.jpeg' %}" class="mini-logo">
                </a>
                <span class = "texto-logo">LMG ARTS</span>
            </li>
            <li class="nav-item">
                <a href="{% url 'Site_Educacional' %}" class="link-nav">
                    <i class="fa-solid fa-house-user" id = "logo"></i>
<!--                    <i class='bx bx-menu' id = "logo"></i>-->
                    <span class="link-text">Página inicial</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'Perfil' %}" class="link-nav">
                    <i class="fa-solid fa-user" id = "logo"></i>
                    <span class="link-text">Perfil</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'MeuAprendizado' %}" class="link-nav">
                    <i class="fa-solid fa-book-open-reader" id = "logo"></i>
                    <span class="link-text">Meus cursos</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'Catalogo' %}" class="link-nav">
                    <i class="fa-solid fa-bag-shopping" id = "logo"></i>
                    <span class="link-text">Catálogo</span>
                </a>
            </li>

            <li class = "nav-item">
                <div class="div-social-media">
                    <a href = "#" class="social-media"><i class="fa-solid fa-envelope" title="Gmail" id = "logo"></i></a>
                    <a href = "#" target="_blank" class = "social-media"><i class="fa-brands fa-twitter" title="Twitter" id = "logo"></i></a>
                    <a href = "#" target="_blank" class = "social-media"><i class="fa-brands fa-instagram" title="Instagram" id = "logo"></i></a>
                    <a href = "#" target="_blank" class = "social-media"><i class="fa-brands fa-linkedin" title="Linkedin" id = "logo"></i></a>
                </div>
            </li>
        </ul>
    </nav>
    <div class="header">
        <button class="btnShow">
            <i class="fa-solid fa-angle-right" id="flecha"></i>
        </button>
        <h1 onclick="toggleDarkMode()" class="header-Text">{%block TextoHeader%}{%endblock%}</h1>
        <div style="display: flex;">
            <h3 class = "header-userName">{{Usuarios.nome}}</h3>
            {% if Usuarios.foto %}
                <img class = "img-header" src = "{{Usuarios.foto.url}}" onclick="openMenuFunction()">
            {% else %}
                <img class = "img-header" src="{%static 'imagens/no-userimage.jpg'%}" onclick="openMenuFunction()">
            {%endif%}
        </div>
        <div class = "menu">
            <li>
                <a href = "#">
                    <i class="fa-solid fa-gear"></i>
                    <span class="menu-text">Configurações</span>
                </a>
            <br>
            <br>
                <a href = "{% url 'Perfil' %}">
                    <i class="fa-solid fa-user"></i>
                    <span class="menu-text">Perfil</span>
                </a>
            <br>
            <br>
                <a href = "/theme?color=Dark">
                    <i class="fa-solid fa-moon"></i>
                    <span class="menu-text">Modo Escuro</span>
                </a>
            <br>
            <br>
                <a href = "/theme?color=Light">
                    <i class="fa-solid fa-sun"></i>
                    <span class="menu-text">Modo Claro</span>
                </a>
            <br>
            <br>
                <a href="{% url 'Logout' %}">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    <span class = "menu-text">Sair</span>
                </a>
            </li>
        </div>
    </div>
    <main>
        {%block conteudo%}{%endblock%}
    </main>
</body>
<script src = "{% static 'Js/base.js' %}"></script>
</html>