/* BASE HTML */
/* { */
    :root
    {
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        --text-primary: #b6b6b6;
        --text-secondary: #ececec;
        --bg-primary: #23232e;
        --bg-secondary: #141418;
    }

    /* BODY */
    body
    {
        transition: 300ms;
        color: black;
        background-color: white;
        margin: 0;
        padding: 0;
    }

    .dark-mode-body
    {
        transition: 300ms;
        color: white;
        background-color: black;
    }

    .Dark
    {
        transition: 300ms;
        color: white;
        background-color: #181818;
    }

    .Dark .header
    {
        background: #262626;
    }

    .Dark .BN
    {
        background-color: #000000;
    }

    .Dark .course-list
    {
        background-color: #5a5959;
    }

    .Dark .logo
    {
        background-color: #141414;
    }

    #catalogo .Dark
    {
        background-color: #181818;
    }

    .Dark .fa-pen-to-square
    {
        color: white;
    }


    .fa-solid
    {
        color: white;
    }

    .fa-pen-to-square
    {
        transition: 230ms;
        color: black;
        transform: scale(1.35);
    }

    .fa-pen-to-square:hover
    {
        transform: scale(2);
        transition: 230ms;
    }

    /* BODY scrool-bar*/
    body::-webkit-scrollbar
    {
        width: 0.25rem;
    }

    body::-webkit-scrollbar-track
    {
        background: #1e1e24;
    }

    body::-webkit-scrollbar-thumb
    {
        background: #054ba7;
    }


    /* MAIN */
    main
    {
        margin-left: 5rem;
        padding: 1rem;
    }

    /* BARRA DE NAVEGAÇÃO */
    .BN /*Define o tamanho, cor e velocidade de transição*/
    {
        z-index: 1;
        width: 5rem;
        height: 100vh;
        position: fixed;
        transition: width 600ms ease;
        overflow: scroll;
        background: #023c88;
    }

    .btnShow
    {
        background: transparent;
        border: transparent;
        cursor: pointer;
        height: 0;
    }

    .BNtoggle
    {
        z-index: 1;
        width: 18rem;
    }


    .BNtoggle .link-text /*deixa o display == true ao posicionar o mouse*/
    {
        transition: 1.3s;
        opacity: 100%;
    }

    .BN::-webkit-scrollbar /*remove o scroll-bar da BN*/
    {
        display: none;
    }

    .Nav-BN /*Define margens e tamanhos*/
    {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

    /* ITENS BN*/
    .nav-item
    {
        width: 100%;
    }

    .nav-item:hover
    {
        transform: scale(1.1);
        transition: 400ms ease;
        border-radius: 5px;
        background: #0f72f3;
    }

    .Dark .nav-item:hover
    {
        background: #393939;
    }

    .nav-item:last-child
    {
        margin-top: auto;
    }

    .social-media
    {
        display: flex;
        align-items: center;
        flex-direction: row;
        height: 5rem;
        color: white;
        text-decoration: none;
        margin-left: 1.5rem;
        margin-right: 2rem;
    }

    .div-social-media
    {
        display: flex;
        margin: 0;
    }

    .link-nav
    {
        display: flex;
        align-items: center;
        height: 5rem;
        color: var(--text-primary);
        text-decoration: none;
    }

    .link-text
    {
        opacity: 0;
        margin-left: 1rem;
        color: rgb(255, 255, 255);
    }

    .link-nav #logo
    {
        width: 2rem;
        min-width: 2rem;
        margin: 0 1.7rem;
    }

    .logo
    {
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 1rem;
        text-align: center;
        color: #ffff;
        background: #054ba7;
        font-size: 1.5rem;
        letter-spacing: 0.3ch;
        width: 100%;
    }

    .texto-logo
    {
        display: none;
        color: rgb(255, 255, 255);
    }

    .BNtoggle .mini-logo
    {
        width: 50%;
    }

    .mini-logo
    {
        transition: 1s;
        width: 70px;
    }

    .mini-logo:hover
    {
        transition: 300ms;
    }

    .BNtoggle .texto-logo
    {
        transition: 1.5s;
        position: relative;
        display: block;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-decoration: none;
        margin-bottom: 25px;
    }

    .header
    {
        background: rgb(241, 241, 241);
        height: 77px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .config-menu
    {
        display: none;
    }


    .img-header
    {
        transition: 100ms;
        border-radius: 50%;
        margin-right: 2rem;
        margin-top: 0.5rem;
        cursor: pointer;
        max-height: 4rem;
        max-width: 4.3rem;
        min-height: 4rem;
        min-width: 4.3rem;
    }

    .img-header:hover
    {
        transform: scale(1.15);
        transition: 200ms;
    }


    .header h1
    {
        transition: 200ms ease;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 20px;
    }

    .header .menu
    {
        display: none;
    }
    
    .changeTheme
    {
        cursor: pointer;
    }

    .header-userName
    {
        margin-right: 20px;
        margin-top: 28px;
    }

    .header-Text
    {
        margin-left: 17rem;
    }

    .header .menu-show li
    {
        color: white;
        list-style: none;
        margin-left: 15px;
        margin-top: 8px;
        margin-bottom: 10px;
        text-decoration:none;
    }

    .header .menu-show i
    {
        color: black;
        margin-left: 7px;
    }

    .menu-show a
    {
        text-decoration: none;
    }

    .menu .menu-text
    {
        margin-left: 5px;
        color: black;
    }

    .menu .menu-text:hover
    {
        transition: 250ms;
        color: #6666a7;
    }

    .header .menu-show
    {
        display: flex;
        border-radius: 5px;
        position: absolute;
        right: 2%;
        top: 10%;
        background: white;
        width: 15%;
        height: 22.8vh;
        box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.25);
        text-decoration: none;
        z-index: 3;
    }

    #flecha
    {
        transition: 600ms ease;
        margin-left: 5.5rem;
        margin-top: 0.5rem;
        font-size: 20px;
        position: absolute;
        background: blue;
        width: 35px;
        height: 30px;
        border-radius: 4px;
        color: white;
        top: 12px;
        padding: 5px;
        /*transform: rotate(180deg);*/
    }

    .Dark #flecha
    {
        background: #6c6b6b;
    }

     #flecha:hover
    {
        transform: scale(1.2);
    }

    .Dark #flecha
    {
        color: white;
    }

/* } */

/* Site Educacional */
/* { */
    .banner
    {
        background: linear-gradient(120deg, rgb(138, 62, 153)/*#700B97*/, #52a9e2, #070d5e);
        height: 50vh;
        width: 100%;
        color: white;
        border-radius: 1rem;
    }

    .banner-info
    {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .banner-info .banner-text
    {
        font-size: 7rem;
    }

    .banner-btn
    {
        border-radius: 10px;
        background: #fff;
        color: #36465d;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 40px;
        display: block;
        padding: 15px;
        transition: .3s;
        cursor: pointer;
    }
    .banner-btn:hover
    {
        background: #333;
        color: #fff;
        padding: 15px 20px;
    }

    .course-list
    {
        background-color: #5a5959;
        height: 55vh;
        margin-top: 1.5rem;
        border-radius: 15px;
        display: flex;
        /* overflow-y: auto; */
        justify-content: space-evenly;
        align-items: center;
    }

    .course
    {
        transition: 400ms;
        float: left;
        position: relative;
        border-radius: 2%;
        height: 50vh;
        margin: 20px;
        width: 55vh;
        background-color: #80a4f3;
        flex-direction: row;
    }

    .course:hover
    {
        transform: scale(1.05);
        transition: 400ms;
    }


    .course .course-information
    {
        position: absolute;
        bottom: 0;
        background: black;
        border-radius: 7px;
        height: 25%;
        width: 100%;
        align-content: flex-end;
        justify-content: space-between;
        filter: opacity(80%);
        /*filter: none;*/
        margin-top: 0;
    }


/* } */

/*   Meu aprendizado (algumas classes são identicas ao Catálogo) */
/* { */

    .course-completed
    {
        background: blue;
        width: 3rem;
        height: 3rem;
        position: absolute;
        top: 0;
        right: 5%;
        /*box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.25)*/
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        text-align: center;
    }

    .fa-award
    {
        color: yellow;
        font-size: 2rem;
        margin-top: 0.3rem;
    }

    .course-information-text
    {
        text-decoration: none;
        color: white;
        margin-left: 1rem;
    }

    .course
    {
        transition: 400ms;
        float: left;
        position: relative;
        border-radius: 2%;
        height: 50vh;
        margin: 20px;
        width: 50vh;
        background-color: #80a4f3;
        flex-direction: row;
    }

    .course:hover
    {
        transform: scale(1.04);
        float: left;
        transition: 400ms;
        filter: grayscale(0%);
    }

    .Dark .lupa-icon
    {
        filter: invert();
        opacity: 25%;
    }

    .lupa-icon
    {
        width: 10%;
        margin-top: 10rem;
        filter: opacity(25%);
    }

    #lupa-icon1
    {
        margin-top: 2rem;
    }

    .fa-star
    {
        transition: 300ms;
        position: absolute;
        font-size: 1.5rem;
        right: 5%;
        bottom: 38%;
        filter: none;
    }

    .fa-star:hover
    {
        transform: scale(1.5);
        transition: 300ms;
        color: yellow;
    }

/* } */


/* Catálogo */
/* {        */


.playlist .titulo
{
margin-right: 15px;
}

.pagination
{
    margin-top: 2rem;
    display: inline-block;
}

.pagination a
{
    margin-right: 0.5rem;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.Dark .pagination a
{
    color: white;
}

.pagination a.active {
  background-color: #054ba7;
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
    transform: scale(1.2);
    transition: 400ms;
}

.Dark .pagination a:hover:not(.active) {
    background-color: #bdbbbb;
    color: black;
    transform: scale(1.2);
    transition: 400ms;
}

.lupa-catalogo
{
    width: 10%;
    margin-top: 10rem;
    filter: opacity(25%);
}

.Dark .lupa-catalogo
{
    width: 10%;
    margin-top: 10rem;
    filter: invert();
    opacity: 25%;
}

#catalogo .fa-magnifying-glass
{
    position: absolute;
    color: #868686;
    margin-top: 0.7rem;
    right: 5%;
}

#catalogo body
{
    background: #fff;
}

#catalogo .btn:hover:not(.active)
{
    transform: scale(1.2);
    transition: 400ms;
    background-color: #ddd;
    color: black;
}

#catalogo .btn.active
{
  background-color: #054ba7;
  color: white;
  height: 3rem;
}

#catalogo .btn
{
    border-radius: 5px;
    border: 0;
    outline: none;
    padding: 12px 16px;
    background-color: transparent;
    cursor: pointer;
    margin-bottom: 1rem;
    color: black;
    margin-right: 10px;
}

#catalogo .Dark .btn
{
    color: white;
}

.course-list
{
    overflow: hidden;
    width: auto;
    border-radius: 10px;
    background-color: #e3e3eb;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, auto));
    gap: 0.5%;
    margin-right: 15px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.hrefCurso
{
    display: none;
}

.filterDiv
{
    transition: 400ms;
    float: left;
    filter: grayscale(100%);
    /*position: relative;*/
    border-radius: 2%;
    height: 50vh;
    margin: 20px;
    width: 50vh;
    background-color: #80a4f3;
    flex-direction: row;
    display: none;
}

.filterDiv:hover
{
    transform: scale(1.04);
    filter: grayscale(0%);
    transition: 400ms;
}

.show
{
    display: flex;
}

.busca
{
    width: 92%;
    /* display: grid; */
    grid-template-columns: repeat(auto-fit, minmax(310px, auto));
    margin-bottom: 4%;
    margin-left: 21.7rem;
    padding: 10px;
    border: none;
    background: none;
    outline: none;
    border-bottom: black solid 2px;
}

.Dark .busca
{
    border-bottom: white solid 2px;
    color: white;
}

.course-information
{
    position: absolute;
    bottom: 0;
    background: black;
    border-radius: 7px;
    height: 25%;
    width: 100%;
    align-content: flex-end;
    justify-content: space-between;
    filter: opacity(80%);
    /*filter: none;*/
    margin-top: 0;
}

.curso-info
{
    margin-left: 1.5rem;
    margin-bottom: 3px;
    margin-top: 15px;
    text-decoration: none;
    color: #fff;
}

.curso-info-nome
{
    margin-top: 0;
    margin-left: 1.5rem;
    text-decoration: none;
    color: #fff;
}

/* }        */

/* Perfil */
/* { */
.user-profile-pic
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.user-profile-pic img:hover
{
    transition: 300ms;
    opacity: 65%;
}

.user-profile-pic img
{
    transition: 300ms;
    border-radius: 100%;
    min-width: 30vh;
    max-width: 30vh;
    min-height: 30vh;
    max-height: 30vh;
}

.account-description
{
    background-color: #e3e3eb;
    border-radius: 15px;
    text-align: center;
    padding-bottom: 3%;
    padding-top: 1%;
    margin-top: 2rem;
}

.Dark .account-description
{
    background-color: #5a5959;
}

.account-description .description
{
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.account-description .description .description-limitator
{
    width: 80%;
}

.fa-pen-to-square
{
    right: 5%;
    position: absolute;
}

.user-username
{
    display: flex;
}

.user-information
{
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
}


/* } */

/* Comprar Cursos */
/*{*/
    #CC main
    {
        padding: 0;
    }
    #CC .maingrid{
      display: grid;
      grid-template-columns: 5fr 2fr;
    }

    #CC .imagem-curso{
      background-color: rgb(143, 143, 143);
      height: 80vh;
      border-right: 4px solid rgb(241, 241, 241);
      border-bottom: 4px solid rgb(241, 241, 241);
    }

    #CC .Dark .imagem-curso
    {
        border-right: 4px solid rgb(38, 38, 38);
        border-bottom: 4px solid rgb(38, 38, 38);
    }

    #CC .barra
    {
      margin-left: 0.5rem;
      display: flex;
      height: 11%;
      color: white;
      justify-content: space-between;
    }


    #CC .InfoConteudo{
      background: rgb(185, 184, 184);
      display: flex;
      height: 91vh;
      flex-direction: column;
    }

    #CC .Info1{
      height: 20%;
      width: auto;
      background: #ffffff;
      border-bottom: 4px solid rgb(241, 241, 241);
      color: black;
    }

    #CC .Dark .Info1
    {
        background-color: #5e5e5e;
         border-bottom: 4px solid rgb(38, 38, 38);
    }

    #CC .Dark .Info-Text
    {
       color: #eaeaea;
    }

    #CC .Dark .Info2
    {
        background-color: #5e5e5e;
    }

    #CC .Dark .Info3
    {
        background-color: #5e5e5e;
        border-top: 4px solid rgb(38, 38, 38);
    }

    #CC .Info2{
      height: 60%;
      width: auto;
      background: white;
      color: black;
    }

    #CC .Info3{
      height: 30%;
      width: auto;
      background: white;
      border-top: 4px solid rgb(241, 241, 241);
      color: black;
    }
    /* cor INFO #054aa5*/

    #CC .Info-Text
    {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 1.3rem;
        font-size: 20px;
        color: black;
    }

    #CC .Info-Title
    {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 1rem;
        color: #8b8888;
    }

    #CC .Dark .Info-Title
    {
        color: #ffffff;
    }

    #CC .btn {
      background-color: #4CAF50; /* Green */
      border: none;
      color: white;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin-left: 30px;
      margin-top: 10px;
      cursor: pointer;
      border-radius: 20px;
      height: 50px;
      width: 10rem;
      transition: 300ms;
    }

    #CC .btn:hover
    {
        transition: 300ms;
        transform: scale(1.15);
    }

    #CC .fonte
    {
        margin-right: 15px;
        color: black;
    }

    #CC .Dark .fonte
    {
        color: white;
    }

    #CC .fonte-redirect
    {
        text-decoration: none;
        color: #3d5ed9;
        text-align: center;
        font-size: 25px;
        margin-left: 0;
    }

    #CC .fonte-info
    {
        display: flex;
        justify-content: space-between;
        margin-right: 20px;
        padding-top: 1.3rem;
    }

    #CC .alert
    {
        position: absolute;
        padding: 20px;
        background-color: green;
        text-align: center;
        color: white;
        border-radius: 5px;
        bottom: 2%;
        right: 2%;
     }

    #CC .closebtn {
        margin-left: 15px;
        color: white;
        font-weight: bold;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
    }

    #CC .closebtn:hover {
        color: black;
    }
/*}*/

/* playerVideo */
/*{*/

.Dark .main .playlist
{
    background-color: #323232;
}

.Dark .main .main-video
{
    background-color: #5a5959;
}

.Dark .main .playlist .videos
{
    background-color: #5a5959;
}

.Dark .main .main-video .info
{
    background-color: #5a5959;
}


#playervideo main
{
    padding: 0;
}
.main{
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: flex-start;
}

.main .main-video{
    /*background: #e8e8e8;*/
    background: #f1f1f1;
    width: 115%;
    height: 74.1vh;
}

.main .main-video video{
    height: 74.1vh;
    width: 100%;
}

.main .main-video .titulo{
    color: #333;
    font-size: 23px;
}

.main .playlist{
    background: #f3f0f0;
    border-radius: 5px;
    margin-left: 8.25rem;
    height: 90vh;
    overflow-y: scroll;
}

.main .playlist::-webkit-scrollbar-track{
    width: 7px;
}

.main .playlist::-webkit-scrollbar-thumb{
    background: #0AA1DD;
    border-radius: 50px;
}

.main .playlist::-webkit-scrollbar{
    width: 0.2rem;
    background: rgb(0, 0, 0);
    border-radius: 50px;
 }

 .main .playlist .videos
 {
     display: flex;
     justify-content: space-between;
     align-items: center;
     background: #f7f7f7;
     border: 1px solid rgb(0,0,0,0.1);
     cursor: pointer;
     height: 18.3%;
     padding-left: 15px;
     margin-bottom: 5px;
 }

 .Dark .main .playlist .videos:hover{
     background: rgb(132, 132, 132);
 }

 .main .playlist .videos:hover{
     background: rgb(212, 238, 250);
 }

 .main .playlist .videos.active{
     background: rgb(0, 140, 255);
 }

.main .main-video .info
{
    border: 1px solid rgb(0,0,0,0.1);
    height: 15vh;
    /*bottom: 0.2rem;*/
    width: 72.2%;
    border-radius: 5px;
    background: #f7f7f7;
    position: fixed;
    overflow: scroll;
    /*text-overflow: ellipsis;*/
}

.main .main-video .info-text
{
    margin-top: 1rem;
    margin-bottom: 15px;
    margin-left: 15px;
}

.main .main-video .Desc
{
    font-family: 'Oxygen', sans-serif;
    margin-left: 15px;
    margin-right: 15px;
}

#playervideo .info::-webkit-scrollbar
{
    border-radius: 10px;
    width: 5px;
    height: 0;
    background: black;
}

#playervideo .info::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background: #0f72f3;
}

.cb:active
{
    background: green;
}

.playBtn
{
    cursor: pointer;
    background: #8b8888;
    filter: opacity(50%);
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    text-align: center;
    right: 55%;
    bottom: 50%;
    width: 100px;
    height: 100px;
}

.Dark #playIco
{
    color: white;
    transition: 450ms;
}

#playIco
{
    transform: scale(3);
    margin-top: 2.6rem;
    margin-left: 0.45rem;
    color: black;
    transition: 450ms;
}

/*}*/

/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background: #11101d;
  z-index: 100;
  transition: all 0.5s ease;
}
.sidebar.close{
  width: 78px;
}
.sidebar .logo-details{
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}
.sidebar .logo-details i{
  font-size: 30px;
  color: #fff;
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
}
.sidebar .logo-details .logo_name{
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}
.sidebar.close .logo-details .logo_name{
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links{
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
}
.sidebar.close .nav-links{
  overflow: visible;
}
.sidebar .nav-links::-webkit-scrollbar{
  display: none;
}
.sidebar .nav-links li{
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li:hover{
  background: #1d1b31;
}
.sidebar .nav-links li .iocn-link{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar.close .nav-links li .iocn-link{
  display: block
}
.sidebar .nav-links li i{
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.sidebar .nav-links li.showMenu i.arrow{
  transform: rotate(-180deg);
}
.sidebar.close .nav-links i.arrow{
  display: none;
}
.sidebar .nav-links li a{
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sidebar .nav-links li a .link_name{
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  transition: all 0.4s ease;
}
.sidebar.close .nav-links li a .link_name{
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li .sub-menu{
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background: #1d1b31;
  display: none;
}
.sidebar .nav-links li.showMenu .sub-menu{
  display: block;
}
.sidebar .nav-links li .sub-menu a{
  color: #fff;
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}
.sidebar .nav-links li .sub-menu a:hover{
  opacity: 1;
}
.sidebar.close .nav-links li .sub-menu{
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}
.sidebar.close .nav-links li:hover .sub-menu{
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}
.sidebar .nav-links li .sub-menu .link_name{
  display: none;
}
.sidebar.close .nav-links li .sub-menu .link_name{
  font-size: 18px;
  opacity: 1;
  display: block;
}
.sidebar .nav-links li .sub-menu.blank{
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li:hover .sub-menu.blank{
  top: 50%;
  transform: translateY(-50%);
}
.sidebar .profile-details{
  position: fixed;
  bottom: 0;
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1d1b31;
  padding: 12px 0;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details{
  background: none;
}
.sidebar.close .profile-details{
  width: 78px;
}
.sidebar .profile-details .profile-content{
  display: flex;
  align-items: center;
}
.sidebar .profile-details img{
  height: 52px;
  width: 52px;
  object-fit: cover;
  border-radius: 16px;
  margin: 0 14px 0 12px;
  background: #1d1b31;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details img{
  padding: 10px;
}
.sidebar .profile-details .profile_name,
.sidebar .profile-details .job{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}
.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job{
  display: none;
}
.sidebar .profile-details .job{
  font-size: 12px;
}
.home-section{
  position: relative;
  background: #E4E9F7;
  height: 100vh;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
}
.sidebar.close ~ .home-section{
  left: 78px;
  width: calc(100% - 78px);
}
.home-section .home-content{
  height: 60px;
  display: flex;
  align-items: center;
}
.bx-menu
{
  color: #11101d;
  font-size: 35px;
}
.bx-menu{
  margin-left: 0 15px;
  cursor: pointer;
}
.home-section .home-content .text{
  font-size: 26px;
  font-weight: 600;
}
@media (max-width: 400px) {
  .sidebar.close .nav-links li .sub-menu{
    display: none;
  }
  .sidebar
  {
    width: 78px;
  }
  .sidebar.close{
    width: 0;
  }
  .home-section{
    left: 78px;
    width: calc(100% - 78px);
    z-index: 100;
  }
  .sidebar.close ~ .home-section{
    width: 100%;
    left: 0;
  }
}

/* redefDesc */
.descrição-change
{
    width: 40%;
    border: none;
    background: none;
    outline: none;
    margin-top: 0.7rem;
    border-bottom: black solid 2px;
}

.Dark .descrição-change
{
    border-bottom: white solid 2px;
    color: white;
}

.enviarDesc
{
    position: absolute;
    color: white;
    border-radius: 15px;
    outline: none;
    border: none;
    background-color: blue;
    width: 7rem;
    height: 3rem;
    top: 62%;
    right: 15%;
    cursor: pointer;
    transition: 300ms;
}

.enviarDesc:hover
{
    transform: scale(1.1);
    transition: 300ms;
}

.form-Desc
{
    display: flex;
    align-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.label-Desc
{
    margin-top: 1rem;
    color: black;
}

.Dark .label-Desc
{
    color: white;
}

/* fim redefDesc */

/* redefNome */
.nome-redef
{
    width: 20rem;
    border: none;
    background: none;
    outline: none;
    margin-top: 0.7rem;
    border-bottom: black solid 2px;
}
.Dark .nome-redef
{
    border-bottom: white solid 2px;
}

.enviarNome
{
    position: absolute;
    color: white;
    border-radius: 15px;
    outline: none;
    border: none;
    background-color: blue;
    width: 7rem;
    height: 3rem;
    top: 45%;
    right: 15%;
    cursor: pointer;
    transition: 300ms;
}

.enviarNome:hover
{
    transform: scale(1.1);
    transition: 300ms;
}

.aulaFinalizada {
    color: green;
}

.Dark .aulaFinalizada
{
    color: #8787fa;
}

.aulaSelecionada
{
    background-color: rgb(212, 238, 250) !important;
}

.Dark .aulaSelecionada {
    background-color: gray !important;
}
/* fim redefNome */

.cursox
    {
        transition: 400ms;
        float: left;
        position: relative;
        border-radius: 2%;
        height: 50vh;
        margin: 20px;
        width: 50vh;
        background-color: #80a4f3;
        flex-direction: row;
    }

    .cursox:hover
    {
        transform: scale(1.04);
        float: left;
        transition: 400ms;
        filter: grayscale(0%);
    }
    .cursos
{
    overflow: hidden;
    width: auto;
    border-radius: 10px;
    background-color: #e3e3eb;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, auto));
    gap: 0.5%;
    margin-right: 15px;
    padding-bottom: 10px;
    padding-right: 10px;
}
 .Dark .cursos
    {
        background-color: #5a5959;
    }
 .curso-zindex
{
    position: absolute;
    bottom: 0;
    background: black;
    border-radius: 7px;
    height: 25%;
    width: 100%;
    align-content: flex-end;
    justify-content: space-between;
    filter: opacity(80%);
    /*filter: none;*/
    margin-top: 0;
}