/* BASE HTML */
/* { */
    :root
    {
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        --text-primary: #b6b6b6;
        --text-secondary: #ececec;
        --bg-primary: #23232e;
        --bg-secondary: #141418;
    }

    /* BODY */
    body
    {
        transition: 300ms;
        color: black;
        background-color: white;
        margin: 0;
        padding: 0;
    }

    .dark-mode-body
    {
        transition: 300ms;
        color: white;
        background-color: black;
    }

    .Dark
    {
        transition: 300ms;
        color: white;
        background-color: #181818;
    }

    .Dark .header
    {
        background: #262626;
    }

    .Dark .BN
    {
        background-color: #000000;
    }

    .Dark .cursos
    {
        background-color: #5a5959;
    }

    .Dark .logo
    {
        background-color: #141414;
    }

    #catalogo .Dark
    {
        background-color: #181818;
    }

    .Dark .fa-pen-to-square
    {
        color: white;
    }


    .fa-solid
    {
        color: white;
    }

    .fa-pen-to-square
    {
        transition: 230ms;
        color: black;
    }

    .fa-pen-to-square:hover
    {
        transform: scale(1.3);
        transition: 230ms;
    }

    #perfil .Dark .account-info
    {
       background: #5a5959;
    }

    /* BODY scrool-bar*/
    body::-webkit-scrollbar
    {
        width: 0.25rem;
    }

    body::-webkit-scrollbar-track
    {
        background: #1e1e24;
    }

    body::-webkit-scrollbar-thumb
    {
        background: #054ba7;
    }


    /* MAIN */
    main
    {
        margin-left: 5rem;
        padding: 1rem;
    }

    /* BARRA DE NAVEGAÇÃO */
    .BN /*Define o tamanho, cor e velocidade de transição*/
    {
        z-index: 1;
        width: 5rem;
        height: 100vh;
        position: fixed;
        transition: width 600ms ease;
        overflow: scroll;
        background: #023c88;
    }

    .btnShow
    {
        background: transparent;
        border: transparent;
        cursor: pointer;
    }

    .BNtoggle
    {
        z-index: 1;
        width: 18rem;
    }


    .BNtoggle .link-text /*deixa o display == true ao posicionar o mouse*/
    {
        transition: 1.3s;
        opacity: 100%;
    }

    .BN::-webkit-scrollbar /*remove o scroll-bar da BN*/
    {
        display: none;
    }

    .Nav-BN /*Define margens e tamanhos*/
    {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

    /* ITENS BN*/
    .nav-item
    {
        width: 100%;
    }

    .nav-item:hover
    {
        transform: scale(1.1);
        transition: 400ms ease;
        border-radius: 5px;
        background: #0f72f3;
    }

    .Dark .nav-item:hover
    {
        background: #393939;
    }

    .nav-item:last-child
    {
        margin-top: auto;
    }

    .social-media
    {
        display: flex;
        align-items: center;
        flex-direction: row;
        height: 5rem;
        color: white;
        text-decoration: none;
        margin-left: 1.5rem;
        margin-right: 2rem;
    }

    .div-social-media
    {
        display: flex;
        margin: 0;
    }

    .link-nav
    {
        display: flex;
        align-items: center;
        height: 5rem;
        color: var(--text-primary);
        text-decoration: none;
    }

    .link-text
    {
        opacity: 0;
        margin-left: 1rem;
        color: rgb(255, 255, 255);
    }

    .link-nav #logo
    {
        width: 2rem;
        min-width: 2rem;
        margin: 0 1.5rem;
    }

    .logo
    {
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 1rem;
        text-align: center;
        color: #ffff;
        background: #054ba7;
        font-size: 1.5rem;
        letter-spacing: 0.3ch;
        width: 100%;
    }

    .texto-logo
    {
        display: none;
        color: rgb(255, 255, 255);
    }

    .BNtoggle .mini-logo
    {
        width: 50%;
    }

    .mini-logo
    {
        transition: 1s;
        width: 70px;
    }

    .mini-logo:hover
    {
        transition: 300ms;
    }

    .BNtoggle .texto-logo
    {
        transition: 1.5s;
        position: relative;
        display: block;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-decoration: none;
        margin-bottom: 25px;
    }

    .header
    {
        background: rgb(241, 241, 241);
        height: 77px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .config-menu
    {
        display: none;
    }


    .img-header
    {
        transition: 100ms;
        border-radius: 50%;
        margin-right: 2rem;
        margin-top: 7px;
        height: 4rem;
        cursor: pointer;
    }

    .img-header:hover
    {
        transform: scale(1.15);
        transition: 200ms;
    }


    .header h1
    {
        margin-left: 6rem;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 20px;
    }

    .header .menu
    {
        display: none;
    }
    
    .changeTheme
    {
        cursor: pointer;
    }

    .header-userName
    {
        margin-right: 20px;
        margin-top: 28px;
    }

    .header .menu-show li
    {
        color: white;
        list-style: none;
        margin-left: 15px;
        margin-top: 8px;
        margin-bottom: 10px;
        text-decoration:none;
    }

    .header .menu-show i
    {
        color: black;
        margin-left: 7px;
    }

    .menu-show a
    {
        text-decoration: none;
    }

    .menu .menu-text
    {
        color: black;
    }
    .header .menu-show
    {
        display: flex;
        border-radius: 5px;
        position: absolute;
        right: 2%;
        top: 10%;
        background: white;
        width: 12%;
        height: 19vh;
        box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.25);
        text-decoration: none;
        z-index: 3;
    }

/* } */

/* Site Educacional */
/* { */
    .info
    {
        line-height: 25px;
    }

    .info div
    {
        margin-bottom: 20px;
    }

    .banner
    {
        border-radius: 15px;
        width: 98.9%;
        height: 50vh;
        background: linear-gradient(120deg, rgb(138, 62, 153)/*#700B97*/, #52a9e2, #070d5e);
        background-size: cover;
        font-size: 80px;
        color: #fff;
        text-align: center;
    }

    .big-text
    {
        font-size: 130px;
        font-weight:800;
        animation-delay: 1s;
    }

    .banner a
    {
        border-radius: 10px;
        display: inline-block;
        background: #fff;
        color: #36465d;
        text-transform: uppercase;
        padding: 15px;
        text-decoration: none;
        font-size: 40px;
        transition: .3s;
    }

    .banner a:hover
    {
        background: #333;
        color: #fff;
        padding: 15px 20px;
    }
/* } */

/*   Meu aprendizado (algumas classes são identicas ao Catálogo) */
/* { */
    .cursox
    {
        transition: 400ms;
        float: left;
        position: relative;
        border-radius: 2%;
        height: 50vh;
        margin: 20px;
        width: 50vh;
        background-color: #80a4f3;
        flex-direction: row;
    }

    .cursox:hover
    {
        transform: scale(1.04);
        float: left;
        transition: 400ms;
        filter: grayscale(0%);
    }

    .Dark .lupa-icon
    {
        filter: invert();
        opacity: 25%;
    }

    .lupa-icon
    {
        width: 10%;
        margin-top: 10rem;
        filter: opacity(25%);
    }

    #lupa-icon1
    {
        margin-top: 2rem;
    }

    .fa-star
    {
        transition: 300ms;
        position: absolute;
        font-size: 1.5rem;
        margin-top: 1.3rem;
        margin-left: 21rem;
        filter: none;
    }

    .fa-star:hover
    {
        transform: scale(1.5);
        transition: 300ms;
        color: yellow;
    }

/* } */


/* Catálogo */
/* {        */


.playlist .titulo
{
margin-right: 15px;
}

.pagination
{
    margin-top: 2rem;
    display: inline-block;
}

.pagination a
{
    margin-right: 0.5rem;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.Dark .pagination a
{
    color: white;
}

.pagination a.active {
  background-color: #054ba7;
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}

.Dark .pagination a:hover:not(.active) {
    background-color: #bdbbbb;
    color: black;
    transform: scale(1.2);
    transition: 400ms;
}

.lupa-catalogo
{
    width: 10%;
    margin-top: 10rem;
    filter: opacity(25%);
}

.Dark .lupa-catalogo
{
    width: 10%;
    margin-top: 10rem;
    filter: invert();
    opacity: 25%;
}

#catalogo .fa-magnifying-glass
{
    position: absolute;
    color: #868686;
    margin-top: 0.7rem;
    right: 5%;
}

#catalogo body
{
    background: #fff;
}

#catalogo .btn:hover:not(.active)
{
    transform: scale(1.2);
    transition: 400ms;
    background-color: #ddd;
    color: black;
}

#catalogo .btn.active
{
  background-color: #054ba7;
  color: white;
  height: 3rem;
}

#catalogo .btn
{
    border-radius: 5px;
    border: 0;
    outline: none;
    padding: 12px 16px;
    background-color: transparent;
    cursor: pointer;
    margin-bottom: 1rem;
    color: black;
}

#catalogo .Dark .btn
{
    color: white;
}

.cursos
{
    overflow: hidden;
    width: auto;
    border-radius: 10px;
    background-color: #e3e3eb;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, auto));
    gap: 0.5%;
    margin-right: 15px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.hrefCurso
{
    display: none;
}

.filterDiv
{
    transition: 400ms;
    float: left;
    filter: grayscale(100%);
    /*position: relative;*/
    border-radius: 2%;
    height: 50vh;
    margin: 20px;
    width: 50vh;
    background-color: #80a4f3;
    flex-direction: row;
    display: none;
}

.filterDiv:hover
{
    transform: scale(1.04);
    filter: grayscale(0%);
    transition: 400ms;
}

.show
{
    display: flex;
}

.busca
{
    width: 99%;
    /* display: grid; */
    grid-template-columns: repeat(auto-fit, minmax(310px, auto));
    margin-bottom: 4%;
    margin-left: 21.7rem;
    border-radius: 10px;
    padding: 10px;
}

.curso-zindex
{
    position: absolute;
    bottom: 0;
    background: black;
    border-radius: 7px;
    height: 25%;
    width: 100%;
    align-content: flex-end;
    justify-content: space-between;
    filter: opacity(80%);
    /*filter: none;*/
    margin-top: 0;
}

.curso-info
{
    margin-left: 1.5rem;
    text-decoration: none;
    color: #fff;
}

.curso-info-nome
{
    margin-top: 0;
    margin-left: 1.5rem;
    text-decoration: none;
    color: #fff;
}

/* }        */

/* Perfil */
/* { */
    #perfil .info img
    {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        border: 3px solid #e3e3eb;
    }

    #perfil .info .userName
    {
        text-align: center;
    }

    #perfil .account-info
    {
        background-color: #e3e3eb;
        border-radius: 15px;
        text-align: center;
        padding-bottom: 3%;
        padding-top: 1%;
    }

    #perfil .info .infos
    {
        display: flex;
        justify-content: space-between;
        padding-left: 0px;
    }

    #perfil .username
    {
        display: flex;
        color: black;
    }

    #pic
    {
        position:relative;
        height:28vh;
        width:100px;
        left: 42%;
    }

    #pic img
    {
        position:absolute;
        -webkit-transition: opacity 200ms ease-in-out;
        -moz-transition: opacity 200ms ease-in-out;
        -o-transition: opacity 200ms ease-in-out;
        transition: opacity 200ms ease-in-out;
    }

    #pic img.top:hover
    {
        opacity: 30%;
    }

    .Dark .bottom
    {
        filter: invert();
    }
/* } */

/* Comprar Cursos */
/*{*/
    #CC main
    {
        padding: 0;
    }
    #CC .maingrid{
      display: grid;
      grid-template-columns: 5fr 2fr;
    }

    #CC .imagem-curso{
      background-color: rgb(143, 143, 143);
      height: 80vh;
      border-right: 4px solid rgb(241, 241, 241);
      border-bottom: 4px solid rgb(241, 241, 241);
    }

    #CC .Dark .imagem-curso
    {
        border-right: 4px solid rgb(38, 38, 38);
        border-bottom: 4px solid rgb(38, 38, 38);
    }

    #CC .barra
    {
      margin-left: 0.5rem;
      display: flex;
      height: 11%;
      color: white;
      justify-content: space-between;
    }


    #CC .InfoConteudo{
      background: rgb(185, 184, 184);
      display: flex;
      height: 91vh;
      flex-direction: column;
    }

    #CC .Info1{
      height: 20%;
      width: auto;
      background: #ffffff;
      border-bottom: 4px solid rgb(241, 241, 241);
      color: black;
    }

    #CC .Dark .Info1
    {
        background-color: #5e5e5e;
         border-bottom: 4px solid rgb(38, 38, 38);
    }

    #CC .Dark .Info-Text
    {
       color: #eaeaea;
    }

    #CC .Dark .Info2
    {
        background-color: #5e5e5e;
    }

    #CC .Dark .Info3
    {
        background-color: #5e5e5e;
        border-top: 4px solid rgb(38, 38, 38);
    }

    #CC .Info2{
      height: 60%;
      width: auto;
      background: white;
      color: black;
    }

    #CC .Info3{
      height: 30%;
      width: auto;
      background: white;
      border-top: 4px solid rgb(241, 241, 241);
      color: black;
    }
    /* cor INFO #054aa5*/

    #CC .Info-Text
    {
        margin-left: 10px;
        margin-right: 10px;
        font-size: 20px;
        color: black;
    }

    #CC .Info-Title
    {
        margin-left: 10px;
        margin-right: 10px;
        font-weight: 0px;
        color: #8b8888;
    }

    #CC .Dark .Info-Title
    {
        color: #ffffff;
    }

    #CC .btn {
      background-color: #4CAF50; /* Green */
      border: none;
      color: white;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin-left: 30px;
      margin-top: 10px;
      cursor: pointer;
      border-radius: 20px;
      height: 50px;
      width: 10rem;
      transition: 300ms;
    }

    #CC .Dark .btn:hover
    {
        transition: 300ms;
        border: solid 4px white;
    }

    #CC .btn:hover
    {
        transition: 300ms;
        border: solid 4px black;
    }

    #CC .fonte
    {
        margin-right: 15px;
        color: black;
    }

    #CC .Dark .fonte
    {
        color: white;
    }

    #CC .fonte-redirect
    {
        text-decoration: none;
        color: #3d5ed9;
        text-align: center;
        margin-top: 20px;
        font-size: 25px;
        margin-left: 0px;
    }

    #CC .fonte-info
    {
        display: flex;
        flex-direction: row;
        margin-right: 20px;
    }

    #CC .alert {
        padding: 20px;
        z-index: 2;
        background-color: green;
        text-align: center;
        color: white;
        border-radius: 5px;
     }

    #CC .closebtn {
        margin-left: 15px;
        color: white;
        font-weight: bold;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
    }

    #CC .closebtn:hover {
        color: black;
    }
/*}*/

/* playerVideo */
/*{*/
.Dark .main .playlist
{
    background-color: #323232;
}

.Dark .main .main-video
{
    background-color: #5a5959;
}

.Dark .main .playlist .videos
{
    background-color: #5a5959;
}

.Dark .main .main-video .info
{
    background-color: #5a5959;
}


#playervideo main
{
    padding: 0;
}
.main{
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: flex-start;
}

.main .main-video{
    /*background: #e8e8e8;*/
    background: #f1f1f1;
    width: 115%;
    height: 74.1vh;
}

.main .main-video video{
    height: 74.1vh;
    width: 100%;
}

.main .main-video .titulo{
    color: #333;
    font-size: 23px;
}

.main .playlist{
    background: #f3f0f0;
    border-radius: 5px;
    margin-left: 8.25rem;
    height: 90vh;
    overflow-y: scroll;
}

.main .playlist::-webkit-scrollbar-track{
    width: 7px;
}

.main .playlist::-webkit-scrollbar-thumb{
    background: #0AA1DD;
    border-radius: 50px;
}

.main .playlist::-webkit-scrollbar{
    width: 0.2rem;
    background: rgb(0, 0, 0);
    border-radius: 50px;
 }

 .main .playlist .videos
 {
     display: flex;
     justify-content: space-between;
     align-items: center;
     background: #f7f7f7;
     border: 1px solid rgb(0,0,0,0.1);
     cursor: pointer;
     height: 18.3%;
     padding-left: 15px;
     margin-bottom: 5px;
 }

 .Dark .main .playlist .videos:hover{
     background: rgb(132, 132, 132);
 }

 .main .playlist .videos:hover{
     background: rgb(212, 238, 250);
 }

 .main .playlist .videos.active{
     background: rgb(0, 140, 255);
 }

.main .main-video .info
{
    border: 1px solid rgb(0,0,0,0.1);
    height: 15vh;
    /*bottom: 0.2rem;*/
    width: 72.2%;
    border-radius: 5px;
    background: #f7f7f7;
    position: fixed;
    overflow: scroll;
    /*text-overflow: ellipsis;*/
}

.main .main-video .info-text
{
    margin-bottom: 15px;
    margin-left: 15px;
}

.main .main-video .Desc
{
    font-family: 'Oxygen', sans-serif;
    margin-left: 15px;
    margin-right: 15px;
}

#playervideo .info::-webkit-scrollbar
{
    border-radius: 10px;
    width: 5px;
    height: 0;
    background: black;
}

#playervideo .info::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background: #0f72f3;
}

.cb:active
{
    background: green;
}

.playBtn
{
    cursor: pointer;
    background: #8b8888;
    filter: opacity(50%);
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    text-align: center;
    right: 55%;
    bottom: 50%;
    width: 100px;
    height: 100px;
}

.Dark #playIco
{
    color: white;
    transition: 450ms;
}

#playIco
{
    transform: scale(3);
    margin-top: 2.6rem;
    margin-left: 0.45rem;
    color: black;
    transition: 450ms;
}

/*}*/
