*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    font-weight: normal;
}

.titulo{
    color: #444;
    font-size: 30px;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

body{
    background: #eee;
}

.main{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
    align-items: flex-start;
    padding: 5px 5%;
}

.main .main-video{
    background: #fff;
    border-radius: 5px;
    padding: 10px;
    height: 91vh;
}

.main .main-video video{
    width: 100%;
    border-radius: 5px;
}

.main .main-video .titulo{
    color: #333;
    font-size: 23px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.main .playlist{
    background: #fff;
    border-radius: 5px;
    height: 91vh;
    overflow-y: scroll;
}

.main .playlist .videos video{
    width: 100px;
    border-radius: 5px;

}

.main .playlist::-webkit-scrollbar-track{
    width: 7px;
}

.main .playlist::-webkit-scrollbar-thumb{
    background: #0AA1DD;
    border-radius: 50px;
}

.main .playlist::-webkit-scrollbar{
    width: 0.7rem;
    background: rgb(0, 0, 0);
    border-radius: 50px;
 }

 .main .playlist .videos{
     /* display: flex; */
     align-items: center;
     gap: 15px;
     background: #f7f7f7;
     border-radius: 5px;
     margin: 10px;
     padding: 10px;
     border: 1px solid rgb(0,0,0,0.1);
     cursor: pointer;
     height: 18.3%;
 }

 .main .playlist .videos:hover{
     background: rgb(212, 238, 250);
 }

 .main .playlist .videos.active{
     background: rgb(0, 140, 255);
 }

.main .main-video .info
{
    border: 1px solid rgb(0,0,0,0.1);
    margin-top: 15px;
    height: 27vh;
    border-radius: 5px;
    background: #f7f7f7;
}

.main .main-video .info-text
{
    margin-bottom: 15px;
    margin-left: 15px;
}

.main .main-video .Desc
{
    margin-left: 15px;
    margin-right: 15px;
}

